*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
}

.container{
    background: url(imagens/netflix-bg.jpg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.navbar .logo img{
    width: 200px;
}